#navBar {
position: fixed;
width:100%;
margin:auto;
right: 0px;
z-index: 20;
}

#topSection {
  background-image: url('./offices.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#topSectionContainer{
  position: relative;
  top: 400px;
  opacity: .75;
  z-index: 0;
}
#topSectionContainer h1 {
  font-size: 50px;
  color: black;
}
#topSectionContainer p {
  font-size: 35px;
  color: black;
}


#midSection1 {
  background-image: url('./coffee_cup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#midSection1Container{
  position: relative;
  top: 100px;
  float: left;
  opacity: .75;

}
#midSection1Wording1{
  font-size: 35px;
  color: black;
}
#aboutPic {
  border-radius: 10%;
  position: relative;
  float: right;
}


#midSection2 {
  background-image:url('./nature.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#midSection2Container{
  position: relative;
  top: 100px;
}
#midSection2Wording2{
background-size: cover;
 padding-top: 1%;
}
.portfolioHeight {
  height: 100px;
}


#bottomSection {
  background-image:url('./laptop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bottomSectionContainer{
  position: relative;
  top: 200px;
}
#bottomSectionWording{

}


#footer{
  background-color:black;
}
#footerWording p {
  display:inline;
}
